// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Copyright (C) 2024 Arm Ltd.
*/

/dts-v1/;

#include "sun8i-t113s.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "JINPIN BMC PCIe V2";
	compatible = "nekocloud,jinpin-bmc-pcie-v2", "allwinner,sun8i-t113s";
	
	aliases {
		serial4 = &uart4;
		serial1 = &uart1;
		ethernet0 = &emac;
	};
	
	chosen {
		stdout-path = "serial4:115200n8";
	};
	
	leds {
		compatible = "gpio-leds";
		
		led-0 {
			gpios = <&pio 4 12 GPIO_ACTIVE_HIGH>; /* PE12 */
			linux,default-trigger = "heartbeat";
		};
	};
	
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};
	
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};
	
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&reg_vcc5v>;
	};
};

&dcxo {
	clock-frequency = <24000000>;
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_3v3>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pd_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>;
	bus-width = <4>;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_3v3>;
	bus-width = <4>;
	/delete-property/ no-sd;
	cap-sd-highspeed;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pg_pins>;
	status = "okay";
	
	eeprom: eeprom@50 {
		compatible = "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
		sec-data;
		status = "okay";
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pb_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pe_pins>;
	phy-supply = <&reg_3v3>;
	phy-handle = <&ext_rmii_phy>;
	phy-mode = "rmii";
	status = "okay";
};

&mdio {
	ext_rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};
